/* Estilos Gerais */
body {
    font-family: 'Poppins';
    background-color: #1C1919;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p, li {
    color: #FFFFFF;
    font-size: 14px;
}


/* Navbar styles */ 
header .navbar {
    background-color: #1C1919;
}


#logo {
    width: 7rem; /* Aproximadamente 100px */
    margin-left: 4.5rem; /* Aproximadamente 40px */
}

#span-date {
    font-size: 12px;
    padding: 10px;
}

.navbar-brand {
    padding-top: 10px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20vw;
}

.navbar-brand span{
    color: #FFFFFF;
}

.button-navbar {
    color: #DEAC30;
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 30px;
    width: auto;
    height: 80px;
    position: relative;
    letter-spacing: 2px;
    transition: color 0.3s ease;
    font-weight: 500;
    padding-bottom: 0;
}

.button-navbar:hover {
    color: #FFFFFF;
    font-weight: 500;
}



.box {
    width: 50%;
    float: left;
    height: 80px;/*Altura da linha*/
    color: #1C1919;
   }
   
.lv {
    border-left: 2px solid;/* Adiciona borda esquerda na div como ser fosse uma linha.*/
    box-sizing: border-box;
    color: #1C1919;
    margin-left: 20px;
    position: absolute;
    left: 160px;
}


/*Main*/


/*table*/


#title-table{
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 30px;
}

table tbody tr{
    border: none;
}

table body tr td{
    padding: 8px;
    vertical-align: middle;
}

.table td, .table th{
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#btn-remover{
    box-sizing: border-box;
    border-width: 2px;
    font-weight: 600;
    line-height: 1.75;
    text-transform: uppercase;
    border-radius: 10px;
}

#btn-confirmar {
    box-sizing: border-box;
    border-width: 2px;
    font-weight: 600;
    line-height: 1.75;
    text-transform: uppercase;
    border-radius: 10px;
}

#btn-finalizar{
    box-sizing: border-box;
    border-width: 2px;
    font-weight: 600;
    margin-right: 3px;
    text-transform: uppercase;
    border-radius: 15px;
    width: 100%;
}





/*Footer*/

#footer-area {
    text-align: center;
    padding-top: 4vw;
}

